		#xq_first {
			background-color: #34CE6C;
			height: 200px;
			margin-top: 30px;
			border-radius: 5px;
		}
		
		#xq_first_1 {
			border: 0px solid #000;
			height: 200px;
		}
		
		#xq_first_2 {
			border: 0px solid #000;
			height: 200px;
		}
		
		#xq_first_11 {
			border: 0px solid #000;
			height: 150px;
			padding: 0px;
		}
		
		#xq_first_12 {
			border: 0px solid #000;
			height: 150px;
		}
		
		#xq_first_11img {
			margin-top: 30px;
		}
		
		#xq_first_12name {
			color: #fff;
			font-size: 22px;
		}
		
		#xq_first_12div {
			margin-top: 30px;
		}
		
		#xq_first_12depart {
			font-size: 16px;
			color: #ffffff;
		}
		
		#xq_first_12div2 {
			font-size: 14px;
			color: #ffffff;
			margin-top: 5px;
		}
		
		#xq_first_12label {
			font-size: 14px;
			color: #34CE6C;
			background-color: #FFFFFF;
			border-radius: 5px;
			padding: 3px 5px;
		}
		
		#xq_first_12div3 {
			margin-top: 7px;
		}
		
		#xq_first_13span1 {
			font-size: 22px;
			color: #FFFFFF;
		}
		
		#xq_first_13span2 {
			font-size: 22px;
			color: #FFFFFF;
			font-weight: bold;
		}
		
		#x1_first_2img1 {
			margin-top: -10px;
		}
		
		#x1_first_2img2 {
			margin-top: -10px;
		}
		
		#xq_second {
			margin-top: 25px;
			padding: 0px;
		}
		
		#xq_second_1 {
			height: 24px;
			background-color: #34CE6C;
			font-size: 24px;
			width: 5px;
		}
		
		#xq_second_2 {
			font-size: 21px;
			color: #000;
			margin-left: 10px;
			margin-top: -27px;
		}
		
		#xq_second_3 {
			width: 88%;
			margin-left: 114px;
			margin-top: -15px;
			color: #030303;
		}
		
		#xq_third {
			margin-top: 25px;
			padding: 0px;
		}
		
		#xq_third_1 {
			height: 24px;
			background-color: #34CE6C;
			font-size: 24px;
			width: 5px;
		}
		
		#xq_third_2 {
			font-size: 21px;
			color: #000;
			margin-left: 10px;
			margin-top: -27px;
		}
		
		#xq_third_3 {
			width: 88%;
			margin-left: 114px;
			margin-top: -15px;
			color: #030303;
		}
		
		#xq_fourth {
			margin-top: 25px;
			padding: 0px;
		}
		
		#xq_fourth_1 {
			height: 24px;
			background-color: #34CE6C;
			font-size: 24px;
			width: 5px;
		}
		
		#xq_fourth_2 {
			font-size: 21px;
			color: #000;
			margin-left: 10px;
			margin-top: -27px;
		}
		
		#xq_fourth_3 {
			width: 88%;
			margin-left: 114px;
			margin-top: -15px;
			color: #030303;
		}
		
		#xq_second_4 {
			margin-top: 10px;
			font-size: 16px;
			line-height: 25px;
		}
		
		#xq_third_span {
			color: #34CE6C;
		}
		
		#xq_third_ul {
			margin-top: 40px;
		}
		
		#xq_third_li {
			display: inline;
			border: 1px solid #f1f1f1;
			border-radius: 10px;
			font-size: 14px;
			padding: 8px 8px;
			margin-left: 25px;
		}
		#xq_fourth_answer{
			margin-top: 20px;
		}